body {
	background-image:url("login.jpg");
	background-position: center center;
	background-attachment: fixed;
}

.global {
    margin-top: 8%;
}
h1 {
    text-align: center;
    border: solid black;
    margin: 2% 20%;
    border-radius: 0px 0px 60px 60px;
    background-color: rgba(8, 90, 160, 0.36);
    font-family: Arial,sans-serif;
    padding: 16px 16px;
    color: white;
    font-weight:500;
}

h2 {
    border-radius: 0 40px 0 40px;
    margin: 2% 30%;
    background-color: rgba(8, 90, 160, 0.36);
    font-family: Arial,sans-serif;
    padding: 14px 16px;
    text-align: center;
    border: solid black;
    color: white;
    font-weight:500;
}


.conteneur {
	margin: auto;
	width: 40%;
	border: none;
	display: flex;
    flex-wrap: wrap;
	flex-direction: line;
	justify-content: space-around;
}

td {
	text-align: left;
}

#genre {
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    padding: 12px 20px;
    width: 250px;
    margin: 8px 0;
    margin-bottom: 25px;
    font-family: Arial,sans-serif;
    font-size: 15px;
}

.inputclassique {
	width: 250px;
	border: none;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 20px;
	font-size: 16px;
	margin-bottom: 25px;
    font-family: Arial,sans-serif;
}
.inputclassique placeholder{font-family: sans-serif;}

.textinput {
    color: grey;
}
#retour {
    display: flex;
    justify-content: space-around;
}

button {
	border-radius: 10px;
	border: none;
	color: black;
	padding: 12px 26px;
	text-decoration: none;
	margin: 2px 1px;
	cursor: pointer;
}

#inscrire {
    margin-top: 50px;
    
}


