body {margin: 0;}

.logo{padding-right: 0;}

.logo img{
    width:auto;
    height:50px;
    padding-left: 30px;
}

.topbar {
    overflow: visible;
    background-color: #3B4970;
    font-family: sans-serif;
    width: 100%;
    display: flex;
}

.topbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    width: 16.66%;
}

.profil {
    float: left;
    overflow: hidden;
    
    width: 20%;
}

.profil .profilbtn{
    font-size: 20px;    
    border: none;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
    width: 100%;
}

.topbar a:hover, .profil:hover .profilbtn {background-color: #03224C;}

.profil-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    width:17%;
    
}

.profil-content a {
    float: none;
    padding: 12px 16px;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    
    width: auto;
    
}

.profil-content a:hover {background-color: #ddd;}

.profil:hover .profil-content {display: block;}

.langues {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: auto;
}

.icon-fr img{
    height: 10px;
    width: auto;
}
.icon-gb img{
    height: 10px;
    width: auto;
}

.langues a {
    height: 25px;
    display: block;
    padding-top: 2px;
    padding-bottom: 0;
}

.sticky {
  position: fixed;
  top: 0;
  
}

.sticky {
  padding-top: 60px;
}
