textarea
{
	width: 600px;
	border: 1px solid black;
	border-radius: 40px;
	padding: 20px;
}

.conteneur
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
	width: 100%;
	height: 100vh; /*100 vh veut dire que ca utilise toute la place en hauteur*/
	margin-top:15vh;
}

.element:nth-child(1)
{
	text-align: center;
}

.element:nth-child(2)
{
	margin-left: auto;
	margin-right: auto;
}

.element:nth-child(3)
{
	margin: auto;
}

.bouton_envoyer
{
	color: white;
	width: 120px;
	height: 35px;
	background-color: black;
	margin-left: 260px;
	margin-top: 20px;
	border-radius: 13px;
	cursor: pointer;
}

.contact
{
	text-align: center;
}
