@charset "ISO-8859-1";

.element
{
	display: flex;
	justify-content: center;
 
}

#conteneur
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bouton{
	
	border: none;
	border-radius: 20px;
	background-color: #3B4970;
	font-family: sans-serif;
	font-size: 20px;
	padding: 20px;
	margin-top: 100px;
	cursor: pointer;
	
}
.textinput {
	color: white;
}
